<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ballzilla</title>
    <%- css('styles.css') %>
  </head>
  <body data-view="<%= view %>">
    <%- body %>
    <%- js('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') %>
    <%- js('scripts.js') %>
  </body>
</html>
